
header{
    display: flex;
    border-bottom: black solid 3px;
    padding: 3px;
    justify-content:space-between;
    align-items: center;
}

header button{
    padding: 10px 30px; 
    font-size: 20px; 
    border: solid black 3px; 
    border-radius: 10px; 
    cursor: pointer;
    margin-bottom: 2px;
    color: black;
    background-color: white;
}

header button:hover {
    background-color: red;
    color: white;
}